# IDE
.idea/
.vscode/
.settings/
target/
.classpath
.project
.settings
*.iml

# Vagrant
.vagrant/

# Maven
.mvn

# Gradle
.gradle

# Terraform
.terraform
*.tfstate
*.tfstate.*
*.pkg

# OS files
*.DS_Store
